Sistemas de aprendizaje automático/RA2/.~lock.pima-indians-diabetes.csv#
Big Data Aplicado/contraseña proxmox.txt
Big Data Aplicado/ubuntu-24.04.3-desktop-amd64.iso
Sistemas de aprendizaje automático/RA5/TotalFeatures-ISCXFlowMeter.csv
Sistemas de aprendizaje automático/RA6/pytorch/pytorch-cpu/Lib
Sistemas de aprendizaje automático/RA6/pytorch/pytorch-cpu/share
Sistemas de aprendizaje automático/RA6/pytorch/pytorch-cpu/Scripts
Sistemas de aprendizaje automático/RA6/pytorch/pytorch-cpu/Include
Sistemas de aprendizaje automático/RA6/pytorch/pytorch-cpu/pyvenv.cfg
Programacion de IA/Tratamiento de imagen/Ejercicio 2/Cambio_color_trajes_Lara.ipynb
Programacion de IA/Tratamiento de imagen/Ejercicio 2/images/image.png
Programacion de IA/Tratamiento de imagen/Ejercicio 2/images/image1.png